@import "_variables.scss";

@mixin brown-button{
  border:none;
  background-color: $light-brown;
  font-size: 150%;
  color:white;
  border-radius: 15px;
  height: 5%;
  padding: 5px 15px;
  transition: background-color 0.5s;
}

@mixin brown-button-focus{
  background-color: $dark-brown;
  outline-offset: -2px;
}

@mixin dark-green-border{
  border-radius: $border-radius;
  border: 5px solid $dark-green;
}

@mixin link{
  color: black;
  text-decoration: none;
  font-family: gotham, sans-serif;
  transition: color 0.3s;

}

@mixin link-hover{
  color: $light-green;
}

