$dark-green: #314015;
$light-green: #96A621;
$light-brown: #A58B6A;
$dark-brown: #836D52;
$border-radius: 20px;

@font-face {
  font-family:'daneehand';
  src: url('../../assets/police/Daneehand_Demo.otf') ;
}
@font-face {
  font-family:'gotham';
  src: url('../../assets/police/Gotham-ExtraLight_700137626.otf') format('truetype');
}
@font-face {
  font-family:'handwritting';
  src: url('../../assets/police/handwriting.ttf') format('truetype');
}
@font-face {
  font-family:'myriadPro';
  src: url('../../assets/police/MyriadPro-Regular_2066245031.otf') format('truetype');
}

@font-face {
  font-family:'avenir';
  src: url('../../assets/police/Avenir_Next_Condensed.ttc') ;
}
@font-face {
  font-family:'daneehand';
  src: url('../../assets/police/Daneehand_Demo.otf') ;
}
@font-face {
  font-family:'gotham';
  src: url('../../assets/police/Gotham-ExtraLight_700137626.otf') format('truetype');
}
@font-face {
  font-family:'handwritting';
  src: url('../../assets/police/handwriting.ttf') format('truetype');
}
@font-face {
  font-family:'myriadPro';
  src: url('../../assets/police/MyriadPro-Regular_2066245031.otf') format('truetype');
}