@import "src/assets/style/_variables";

.error{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.error>h1{
  font-family: 'gotham', sans-serif;
}

.error>img{
  width: 30%;
  height: 30%;
}