.CardList {
    font-family: handwritting, 'sans-serif';
    text-align: center;
  
    .all-cards {
      display: inline-block;
      margin: 3px;
    }
  
    form {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 1rem;
  
      label {
        font-family: 'Indie Flower', handwriting, sans-serif;
        display: block;
        margin-right: 1em;
      }
  
      input[type="text"] {
        border-radius: 20px;
        background-color: #C8AD7F;
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
        padding: 10px;
      }
  
      input[type="text"]:focus {
        outline: none;
        outline-color: #b48d4b;
      }
    }
  }
  