@import "src/assets/style/_variables";

.CardList {
    font-family: handwritting, 'sans-serif';
    text-align: center;
  
    .all-cards {
      transition: background-color 0.5s;
      padding: 5px;
      border-radius: $border-radius;
    }
  .all-cards:hover {
    background-color: #314015;
  }

    .all-cards>button{
      all: unset;
    }
    .all-visited-cards {
      width: 100%;
      display: flex;
      flex-direction: column;
    }
  
    form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 1rem;
      gap: 1%;
  
      label {
        font-family: 'Indie Flower', handwriting, sans-serif;
        display: block;
        margin-right: 1em;
      }
  
      input[type="text"] {
        border: #B5BE6B 1px solid;
        padding: 1vh;
      }
  
      input[type="text"]:focus {
        outline: #b48d4b none;
      }
    }
  }

.dropdown-category {
  all: unset;
  border: #B5BE6B 1px solid;
  font-size: small;
  padding: 1vh;
  font-family: 'gotham', sans-serif;
}

.list-all-cards{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

@media screen and (min-width:767px){
  .CardList{
    form {
      flex-direction: row;
    }
  }
  .list-all-cards{
    flex-direction: row;

  }
}

@media screen and (min-width:1000px){
  .list-all-cards{
    width: 70%;
    justify-content: center;
    align-items: center;
    align-self: center;
  }
}