.CardList {
    font-family: handwritting, 'sans-serif';
    text-align: center;
  
    .all-cards {
      display: inline-block;
      margin: 3px;
    }
    .all-cards>button{
      all: unset;
    }
    .all-visited-cards {
      display: inline-block;
      margin: 3px;
    }
  
    form {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 1rem;
      gap: 1%;
  
      label {
        font-family: 'Indie Flower', handwriting, sans-serif;
        display: block;
        margin-right: 1em;
      }
  
      input[type="text"] {
        border: #B5BE6B 1px solid;
        padding: 1vh;
      }
  
      input[type="text"]:focus {
        outline: #b48d4b none;
      }
    }
  }

.dropdown-category {
  all: unset;
  border: #B5BE6B 1px solid;
  font-size: small;
  padding: 1vh;
  font-family: 'gotham', sans-serif;
}