@import "src/assets/style/variables";

.show-nav{
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  list-style: none;
  gap: 5vh;
  width: 100%;
  margin: 0;
  height: 100%;
  background-color: $light-brown;
}

.show-nav>li>a{
  text-decoration: none;
  color: black;
}

.show-nav>li>a:active{
  color: black;
}

.dont-show{
  display: none;

}


@media screen and (min-width:767px){
  .nav_burger{
    display: none;
  }
}